@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Varela+Round&display=swap');

body{
    background-color: rgb(71, 69, 69);;
}

*{
    margin: 0;
    padding: 0;
}
nav{
  font-family: 'Ubuntu', sans-serif;
  
}

nav ul li{
    padding: 0 12px ;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
   height: 67px;
    background-color: black;
    color: aliceblue;
   
}
.brand img{
    width: 44px;
    padding:0 8px ;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}

.container{
    min-height: 65vh;
    background-color: black;
    color: black;
    /* font-family:'Varela Round', sans-serif; */
    display: flex; 
    flex-direction: column;
    margin: 23px auto;
    width: 60%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('btsnew.png');
    background-repeat: no-repeat;
    background-size: 100% 100% ;
  
}

.bottom{
    position : sticky;
    height: 100px;
    background-color: rgb(28, 28, 28);
    bottom: 0;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    
}

.bts{
    font-size: 40px;
  
}
.songName{
    font-size: 1.1rem;
}

.icons
{
    margin-top: 13px;
}

.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
   cursor: pointer;
}


.songItemcontainer{
    margin-top: 60px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: rgb(13, 13, 13);
    width: 48%;
    margin: 12px 0;
    justify-content:space-between;
    align-items:center;
    border-radius: 10px;
    color: white;
}

.songItem img{
   width: 34px;
   margin: 0 25px;
}



.timestamp{
   margin: 0 23px;
   font-size: 1.1rem;
}

.timestamp i{
    cursor: pointer;
   
}
.songInfo{
      position: absolute;
      left: 9vw;
      font-family: 'Ubuntu', sans-serif;
}
.songInfo img{
    opacity: 0;
    transition:opacity is 0.4s ease-in ;
}


@media screen and (min-width:992px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
